[submodule "src/zed-ros-wrapper"]
	path = src/zed-ros-wrapper
	url = https://github.com/shinsoo0203/zed-ros-wrapper.git
[submodule "src/usb_cam"]
	path = src/usb_cam
	url = https://github.com/shinsoo0203/usb_cam.git
[submodule "src/ublox"]
	path = src/ublox
	url = https://github.com/shinsoo0203/ublox.git
[submodule "src/kvaser_interface"]
	path = src/kvaser_interface
	url = https://github.com/shinsoo0203/kvaser_interface.git
[submodule "src/rslidar_sdk"]
	path = src/rslidar_sdk
	url = https://github.com/shinsoo0203/rslidar_sdk.git
