[submodule "src/zed-ros-wrapper"]
	path = src/zed-ros-wrapper
	url = https://github.com/shinsoo0203/zed-ros-wrapper.git
[submodule "src/usb_cam"]
	path = src/usb_cam
	url = https://github.com/shinsoo0203/usb_cam.git
[submodule "src/ublox"]
	path = src/ublox
	url = https://github.com/shinsoo0203/ublox.git
[submodule "src/kvaser_interface"]
	path = src/kvaser_interface
	url = https://github.com/astuff/kvaser_interface.git
[submodule "src/rslidar_sdk"]
	path = src/rslidar_sdk
	url = https://github.com/RoboSense-LiDAR/rslidar_sdk.git
[submodule "src/rs_driver"]
	path = src/rs_driver
	url = https://github.com/RoboSense-LiDAR/rs_driver.git
